name: Release Drafter

on:
    push:
        branches:
            - master
    pull_request:
        types: [opened, reopened, synchronize]
        branches:
            - develop

jobs:
    update_release_draft:
        runs-on: ubuntu-latest
        name: Update release draft
        permissions:
            contents: write
            pull-requests: write
        steps:
            - uses: lukas-reineke/release-drafter@v5.15.0
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
